* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    overflow: hidden;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: auto;
}

#menu__list {
    width: 99dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
    font-size: 5rem;
    list-style-type: none;
    background-color: rgb(82 82 82);
    padding: 0 2rem 2rem 2rem;
    border-radius: 5px
}

#menu__title {
    font-size: 5rem;
    color: limegreen;
}

#menu__list--item {
    width: fit-content;
    height: fit-content;
}

#menu__list--button {
    width: fit-content;
    height: fit-content;
    background-color: limegreen;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5px;
}

#main__container {
    width: 99%;
    height: 98%;
    border: solid 2px limegreen;
    margin: 0 2rem 2rem 2rem;
    padding: 2rem 2rem;
    border-radius: 5px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   background-color: rgb(82 82 82);
}

#server__callback {
    font-size: 5rem;
    color: red;
}

#section {
    width: 45dvw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 4rem;
    gap: 4rem;
    border: solid 2px limegreen;
    background-color: rgb(115 115 115);
    padding: .5rem 1rem;
    border-radius: 5px;
}

#section__header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#section__topButton {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: flex-end;
}

#section__closeButton {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    padding: .5rem;
    background-color: transparent;
    border: none;
    color: limegreen;
}

#services__title {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4rem;
    background-color: rgb(115 115 115);
    color: greenyellow;
    border-bottom: solid 1px green;
}

#services__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
}

#services__list--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: fit-content;
}

.list-btn {
    font-size: 3rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: rgb(64 64 64);;
    color: limegreen;
}

.hidden {
    visibility: hidden;
}
